.table {
    margin-top: 20px;
  }
  
  .img-thumbnail {
    border-radius: 5px; /* Bordes redondeados para las imágenes */
  }
  
  h2 {
    margin-bottom: 20px; /* Espacio debajo del título */
  }
  
  .btn {
    margin-top: 10px; /* Espacio encima de los botones */
  }
  .btn {
    margin-top: 10px; /* Espacio encima de los botones */
  }