<section id="welcome">
    <h2>Bienvenido a Elite Sport</h2>
 </section>
 
 <section id="social-media">
    <h2>Síguenos en redes sociales</h2>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/600px-Facebook_Logo_%282019%29.png" width="300px" height="300px">
      <a href="https://facebook.com > nike" target="_blank"><h3>Facebook</h3></a><br>
      <img src="https://cdn.worldvectorlogo.com/logos/twitter-logo-2.svg" width="300px" height="300px">
      <a href="https://twitter.com > nike" target="_blank"><h3>Twitter</h3></a><br>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9V4NGi4jiLPvEtqcMH5AkQRSsyJ77UaJjDQ&s" width="300px" height="300px">
      <a href="https://instagram.com > nike" target="_blank"> <h3>Instagram</h3></a>
    </div>
  </section>