<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <img src="https://graffica.ams3.digitaloceanspaces.com/2022/04/rAJaRCLy-logotipo-nike-838x285x80xX.jpeg" height="40px" width="70px"> 
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/inicio']">Elite Sport</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/inicio']">inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/productos']">productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ofertas']">ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/quienessomos']">quienessomos</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <li>
            <a [routerLink]="['/carrito']">
                <i class="bi bi-cart"></i>
                <span *ngIf="cantidadProductos > 0">
                    ({{ cantidadProductos }})
                </span>
            </a>
        </li>
      </div>
    </div>
  </nav>
