<h1>Productos</h1>
<div class="card-container">
    <ng-container *ngIf="Productos && Productos.length">
    <ng-container *ngFor="let producto of Productos">
        <div *ngIf="producto.disponibilidad" class="card">
            <img [src]="producto.imagen" alt="{{ producto.nombre}}" class="product-image">
            <h2>{{producto.nombre}}</h2>
            <p>{{producto.descripcion}}</p>
            <p>precio: {{producto.precio | currency}}</p>
            <button type="button" class="btn btn-outline-primary" (click)="agregar(producto)">Agregar producto</button>
        </div>
    </ng-container> 
    </ng-container>
</div>

